<div class="section people-details">
  <div class="container" *ngIf="starship">
    <div class="row hspace20">
      <div class="col-sm-12">
        <h1 class="detailh1">{{starship.name}}</h1>
      </div>
    </div>
    <div class="row hspace20">
      <div class="col-md-4">
        <p><strong>Model: </strong> {{starship.model}}</p>
        <p><strong>MGLT: </strong> {{starship.MGLT}}</p>
        <p><strong>Cost in credits: </strong> {{starship.cost_in_credits}}</p>
        <p><strong>Max atmosphering speed: </strong> {{starship.crew}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Cargo capacity: </strong> {{starship.cargo_capacity}}</p>
        <p><strong>Consumables: </strong> {{starship.consumables}}</p>
        <p><strong>Crew: </strong> {{starship.crew}}</p>
        <p><strong>Passengers: </strong> {{starship.passengers}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Hyperdrive rating: </strong> {{starship.hyperdrive_rating}}</p>
        <p><strong>Length: </strong> {{starship.length}}</p>
        <p><strong>Manufacturer: </strong> {{starship.manufacturer}}</p>
        <p><strong>Starship class: </strong> {{starship.starship_class}}</p>
      </div>
    </div>
    <div class="row hspace20">
      <div class="col-md-6 text-center" *ngIf="pilots.length > 0">
        <h4 class="leadh4">PILOTS - ({{pilots.length}})</h4>
        <i class="fas fa-users"></i>
        <div class="hspace10" *ngFor="let pilot of pilots">
          <a class="primary" [routerLink]="['/character', pilot.id]">{{pilot.name}}</a>
        </div>
      </div>
      <div class="col-md-6 text-center" *ngIf="films.length > 0">
        <h4 class="leadh4">FILMS - ({{films.length}})</h4>
        <i class="fas fa-film"></i>
        <div class="hspace10" *ngFor="let film of films">
          <a class="warning" [routerLink]="['/film', film.id]">{{film.title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
