<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      fixedInViewport="false"
      [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async) ? 'over' : 'side'"
      [opened]="(isHandset | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['characters-list']" [routerLinkActive]="['link-active']">Characters</a>
      <a mat-list-item [routerLink]="['films-list']" [routerLinkActive]="['link-active']">Films</a>
      <a mat-list-item [routerLink]="['starships-list']" [routerLinkActive]="['link-active']">Starships</a>
      <a mat-list-item [routerLink]="['vehicles-list']" [routerLinkActive]="['link-active']">Vehicles</a>
      <a mat-list-item [routerLink]="['planets-list']" [routerLinkActive]="['link-active']">Planets</a>
      <a mat-list-item [routerLink]="['species-list']" [routerLinkActive]="['link-active']">Species</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a [routerLink]="['characters-list']"><img class="logo" src="../../../assets/images/star_wars_logo.png"></a></span>
      <span class="spacer"></span>
      <a class="nav-links" [routerLink]="['characters-list']" [routerLinkActive]="['link-active']">Characters</a>
      <a class="nav-links" [routerLink]="['films-list']" [routerLinkActive]="['link-active']">Films</a>
      <a class="nav-links" [routerLink]="['starships-list']" [routerLinkActive]="['link-active']">Starships</a>
      <a class="nav-links" [routerLink]="['vehicles-list']" [routerLinkActive]="['link-active']">Vehicles</a>
      <a class="nav-links" [routerLink]="['planets-list']" [routerLinkActive]="['link-active']">Planets</a>
      <a class="nav-links" [routerLink]="['species-list']" [routerLinkActive]="['link-active']">Species</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


