<div class="section" style="margin-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <input class="search_input" [(ngModel)]="search" (ngModelChange)="getPeoplesViewModel(1)" placeholder="Search by name...">
      </div>
      {{totalPeoples}}
    </div>
    <div class="">
      <div class="cardList">
        <ng-container *ngFor="let people of peoples">
          <div class="cardListItem"
          >{{people.name}}</div>
        </ng-container>
      </div>
    </div>
  </div>


  <div class="api-pagination" style="margin-bottom: 50px;">
    <div class="theme-paggination-block">
      <div class="container p-0">
        <div class="row">
          <div class="col">
            <nav aria-label="Page navigation">
              <div class="pagination" *ngIf='totalPeoples > pageSize'>
                <div class="pull-left col-sm-3">
                  <div class="page-item li-prev" [ngClass]="{disabled:paginate.currentPage === 1}">
                    <a class="page-link page-prev" (click)="setPage(paginate.currentPage - 1)" aria-label="Previous">
                      <span aria-hidden="true"><i class="fas fa-arrow-left"></i> <span class="li-text">Poprzednia</span></span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </div>
                </div>
                <div class="text-center col-sm-6">
                  <div class="page-item li-center active" *ngFor="let page of paginate.pages"
                       [ngClass]="{active:paginate.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                  </div>
                </div>
                <div class="pull-right right-next col-sm-3">
                  <div class="page-item li-next" [ngClass]="{disabled:paginate.currentPage === paginate.totalPages}">
                    <a class="page-link page-next" (click)="setPage(paginate.currentPage + 1)" aria-label="Next">
                      <span aria-hidden="true"><span class="li-text">Następna</span> <i class="fas fa-arrow-right"></i></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
